@font-face {
    font-family: "PokeFuente";
    src: url("../fuentes/Pokemon-Solid.ttf");
    src: url("../fuentes/Pokemon-Solid.ttf") format("ttf"),
    }

.tituloPokemon {
    font-family: 'PokeFuente', sans-serif; 
    color: #ffcc03;
    -webkit-text-stroke: 2px  #3363AF;
    
}